body {
    font-family: "Lato", sans-serif;
  }
  
  .main-head {
    height: 200px;
    background: #fff;
  }
  
  .sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: auto;
    padding-top: 20px;
  }
  
  .main {
    padding: 0px 10px;
  }

  .card {
    padding: 5px; 
    margin: 10px; 
  }
  
  
  @media screen and (max-width: 450px) {
    .createPost-form {
      margin-top: 10px;
      margin-bottom: 30px;
    }
  
  }
  
  @media screen and (min-width: 768px) {
    .main {
      margin-left: 40%;
    }
  
    .sidenav {
      width: 30%;
      position: fixed;
      z-index: -1;
      top: 0;
      left: 0;
    }
  
    .CC {
      letter-spacing: 10px;
    }
  
    .h2Login{
      letter-spacing: 5px;
    }
    .createPost-form {
      margin-top: 200px;
      width: 100%;
    }
  
  }
  
  .login-main-text, .form-main-text {
    margin-top: 150px;
    padding: 60px;
    color: #fff;
  }
  
  .login-main-text h2 {
    font-weight: 300;
  }
  
  .loginButton {
    background-color: #000;
    color: #fff;
    margin: 5px;
  }
  