code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
    font-family: fantasy;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: gold;
}

body {
    background-color: black;
}

Form {
    display: grid;
    place-items: center;
    grid-template-columns: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bg {
    position: fixed;
    top: 1em;
    right: 30%;
    bottom: 0;
    left: 30%;
    margin: 0 -600px;
    background-size: cover;
    z-index: -1;
}